.input select {
  padding: 3% 0%;
  margin-top: 10px;
  border-radius: 12px;
  padding-left: 8px;
  outline: none;
}

.options span {
  display: flex;
  flex-direction: row;
  margin-top: 15px;
}

.options p {
  font-size: 0.9rem;
  padding-top: 4px;
  padding-left: 10px;
}

.options {
  margin-left: 10px;
}

.options input {
  cursor: pointer;
  height: 20px;
  width: 20px;
  outline: none;
}

.color {
  outline: none;
}
