@import url("https://fonts.googleapis.com/css2?family=Comic+Neue:wght@400;700&family=Playball&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@400;500;700&display=swap");

* {
  margin: 0px;
  padding: 0;
  box-sizing: border-box;
}

body {
  line-height: 1.5;
  overflow-x: hidden;
}

:root {
  /* COLORS */
  --clr-pri-red: #ff3d55;
  --clr-pri-darkblue: rgba(14, 56, 94);
  --clr-pri-opacity: rgba(14, 56, 94, 0.75);

  --clr-typo-darkblue: #283d58;
  --clr-typo-darkgrey: #57616b;
  --clr-typo-lightgrey: #828c96;
  --clr-type-white: white;

  /* TYPOGRAPHY */
  --font-size: 1rem;
  --font-family-cursew: "Playball", Arial, Helvetica, sans-serif;
  --font-family-para: "Comic Neue", Helvetica, Arial, sans-serif;
  --font-family-solid: "Be Vietnam Pro", sans-serif;

  /* MARGIN */
  --margin-default: 0px 6rem;
}

.top-layer {
  background-image: url(../images/top.jpg);
  background-position: center;
  display: block;
  align-items: center;
  position: relative;
  z-index: 0;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 2;
}

.top-layer::after {
  content: "";
  position: absolute;
  inset: 0;
  background: rgb(12, 11, 22);
  background: linear-gradient(
    90deg,
    rgba(67, 67, 67, 0.6) 16%,
    rgba(199, 124, 124, 0.791) 60%,
    rgba(241, 196, 202, 0.4) 83%
  );
  z-index: -1;
  backdrop-filter: blur(5px);
}

.login-body {
  display: flex;
  margin-right: auto;
  margin-left: auto;
  width: 35vw;
}

.right {
  width: 100%;
  background-color: var(--clr-pri-darkblue);
  height: 100%;
  flex: 40%;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3%;
  position: relative;
}

.login-topic {
  color: var(--clr-type-white);
  font-family: var(--font-family-cursew);
  font-size: 3rem;
  margin-bottom: 1%;
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
  max-width: 250px;
  width: 80%;
}

.input {
  display: flex;
  flex-direction: column;
}

.input:not(.username-form) {
  margin-top: 10%;
}

form input:not(.login-btn) {
  border: none;
  border-bottom: 1px solid grey;
  background-color: transparent;
  outline: none;
  height: 30px;
  color: white;
  transition: all 250ms ease-in-out;
}

form input:not(.login-btn):focus {
  border-bottom: 2px solid lightblue;
}

form label {
  color: white;
  font-family: var(--font-family-solid);
  font-size: 0.9rem;
}

.forgot-pwd {
  text-align: right;
}

.forgot-pwd a {
  text-decoration: none;
  color: lightblue;
  font-size: 0.8rem;
  font-family: var(--font-family-para);
}

.login-btn {
  border-radius: 10px;
  padding: 10px;
  color: var(--clr-type-white);
  font-size: 1rem;
  background-color: var(--clr-pri-red);
  border: 0;
  position: relative;
  width: 100%;
  margin-top: 15px;
  transition: transform 150ms ease-in-out;
  cursor: pointer;
  margin-bottom: 15px;
}

.login-btn:hover {
  transform: scale(1.1);
  background-color: var(--clr-type-white);
  color: var(--clr-pri-red);
}

.error {
  color: var(--clr-pri-red);
  font-family: var(--font-family-para);
  font-size: 0.8rem;
  font-weight: 700;
  margin-top: 2px;
  margin-bottom: 0;
}

@media all and (min-width: 1201px) {
  .login-body {
    margin-top: 35px;
  }

  .top-layer {
    height: fit-content;
    padding-bottom: 30px;
  }
}

@media all and (max-width: 1200px) {
  .login-body {
    margin-top: 20px;
    margin-bottom: 20px;
    height: fit-content;
  }

  .top-layer {
    background-size: cover;
    padding-bottom: 20px;
  }
}

@media all and (max-width: 950px) {
  .left {
    display: none;
  }

  .login-body {
    margin-top: 20px;
    height: fit-content;
  }

  .right {
    border-radius: 15px;
  }
}

@media all and (max-width: 700px) {
  .login-body {
    width: 70vw;
  }
}

@media all and (max-width: 500px) {
  .login-body {
    width: 90vw;
  }
}
