<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="5.0">
  <servlet>
    <description></description>
    <display-name>registerUser</display-name>
    <servlet-name>registerUser</servlet-name>
    <servlet-class>com.controller.registerUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>registerUser</servlet-name>
    <url-pattern>/registerUser</url-pattern>
  </servlet-mapping>
  <display-name>OOP</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>loginUser</display-name>
    <servlet-name>loginUser</servlet-name>
    <servlet-class>com.controller.loginUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>loginUser</servlet-name>
    <url-pattern>/loginUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>userProfile</display-name>
    <servlet-name>userProfile</servlet-name>
    <servlet-class>com.controller.userProfile</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>userProfile</servlet-name>
    <url-pattern>/userProfile</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateProfile</display-name>
    <servlet-name>UpdateProfile</servlet-name>
    <servlet-class>com.controller.UpdateProfile</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateProfile</servlet-name>
    <url-pattern>/UpdateProfile</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowUpdateDetails</display-name>
    <servlet-name>ShowUpdateDetails</servlet-name>
    <servlet-class>com.controller.ShowUpdateDetails</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowUpdateDetails</servlet-name>
    <url-pattern>/ShowUpdateDetails</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteUser</display-name>
    <servlet-name>DeleteUser</servlet-name>
    <servlet-class>com.controller.DeleteUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteUser</servlet-name>
    <url-pattern>/DeleteUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutUser</display-name>
    <servlet-name>LogoutUser</servlet-name>
    <servlet-class>com.controller.LogoutUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutUser</servlet-name>
    <url-pattern>/LogoutUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ResetPwd</display-name>
    <servlet-name>ResetPwd</servlet-name>
    <servlet-class>com.controller.ResetPwd</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ResetPwd</servlet-name>
    <url-pattern>/ResetPwd</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BookingHandler</display-name>
    <servlet-name>BookingHandler</servlet-name>
    <servlet-class>com.controller.BookingHandler</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BookingHandler</servlet-name>
    <url-pattern>/BookingHandler</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BookSupplierHandler</display-name>
    <servlet-name>BookSupplierHandler</servlet-name>
    <servlet-class>com.controller.BookSupplierHandler</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BookSupplierHandler</servlet-name>
    <url-pattern>/BookSupplierHandler</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>confirmEvent</display-name>
    <servlet-name>confirmEvent</servlet-name>
    <servlet-class>com.controller.confirmEvent</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>confirmEvent</servlet-name>
    <url-pattern>/confirmEvent</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DashBordController</display-name>
    <servlet-name>DashBordController</servlet-name>
    <servlet-class>com.controller.DashBordController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DashBordController</servlet-name>
    <url-pattern>/DashBordController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EventUpdateControler</display-name>
    <servlet-name>EventUpdateControler</servlet-name>
    <servlet-class>com.controller.EventUpdateControler</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EventUpdateControler</servlet-name>
    <url-pattern>/EventUpdateControler</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteEventController</display-name>
    <servlet-name>DeleteEventController</servlet-name>
    <servlet-class>com.controller.DeleteEventController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteEventController</servlet-name>
    <url-pattern>/DeleteEventController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SupplierVeiwController</display-name>
    <servlet-name>SupplierVeiwController</servlet-name>
    <servlet-class>com.controller.SupplierVeiwController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SupplierVeiwController</servlet-name>
    <url-pattern>/SupplierVeiwController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>VenueDetailsController</display-name>
    <servlet-name>VenueDetailsController</servlet-name>
    <servlet-class>com.controller.VenueDetailsController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>VenueDetailsController</servlet-name>
    <url-pattern>/VenueDetailsController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegisterOrganizer</display-name>
    <servlet-name>RegisterOrganizer</servlet-name>
    <servlet-class>com.controller.RegisterOrganizer</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterOrganizer</servlet-name>
    <url-pattern>/RegisterOrganizer</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowSupplier</display-name>
    <servlet-name>ShowSupplier</servlet-name>
    <servlet-class>com.controller.ShowSupplier</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowSupplier</servlet-name>
    <url-pattern>/ShowSupplier</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteSupplier</display-name>
    <servlet-name>DeleteSupplier</servlet-name>
    <servlet-class>com.controller.DeleteSupplier</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteSupplier</servlet-name>
    <url-pattern>/DeleteSupplier</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowEvents</display-name>
    <servlet-name>ShowEvents</servlet-name>
    <servlet-class>com.controller.ShowEvents</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowEvents</servlet-name>
    <url-pattern>/ShowEvents</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ApproveSupplier</display-name>
    <servlet-name>ApproveSupplier</servlet-name>
    <servlet-class>com.controller.ApproveSupplier</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ApproveSupplier</servlet-name>
    <url-pattern>/ApproveSupplier</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowPendingSuppliers</display-name>
    <servlet-name>ShowPendingSuppliers</servlet-name>
    <servlet-class>com.controller.ShowPendingSuppliers</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowPendingSuppliers</servlet-name>
    <url-pattern>/ShowPendingSuppliers</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>OrganizerDashboard</display-name>
    <servlet-name>OrganizerDashboard</servlet-name>
    <servlet-class>com.controller.OrganizerDashboard</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OrganizerDashboard</servlet-name>
    <url-pattern>/OrganizerDashboard</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteEvent</display-name>
    <servlet-name>DeleteEvent</servlet-name>
    <servlet-class>com.controller.DeleteEvent</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteEvent</servlet-name>
    <url-pattern>/DeleteEvent</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PayEvent</display-name>
    <servlet-name>PayEvent</servlet-name>
    <servlet-class>com.controller.PayEvent</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PayEvent</servlet-name>
    <url-pattern>/PayEvent</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PaymentConfirm</display-name>
    <servlet-name>PaymentConfirm</servlet-name>
    <servlet-class>com.controller.PaymentConfirm</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PaymentConfirm</servlet-name>
    <url-pattern>/PaymentConfirm</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewPastEvents</display-name>
    <servlet-name>ViewPastEvents</servlet-name>
    <servlet-class>com.controller.ViewPastEvents</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewPastEvents</servlet-name>
    <url-pattern>/ViewPastEvents</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DashboardNavigation</display-name>
    <servlet-name>DashboardNavigation</servlet-name>
    <servlet-class>com.controller.DashboardNavigation</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DashboardNavigation</servlet-name>
    <url-pattern>/DashboardNavigation</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserDashboardHome</display-name>
    <servlet-name>UserDashboardHome</servlet-name>
    <servlet-class>com.controller.UserDashboardHome</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserDashboardHome</servlet-name>
    <url-pattern>/UserDashboardHome</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewEvents</display-name>
    <servlet-name>ViewEvents</servlet-name>
    <servlet-class>com.controller.ViewEvents</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewEvents</servlet-name>
    <url-pattern>/ViewEvents</url-pattern>
  </servlet-mapping>
</web-app>